body 
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

canvas 
{
    width: 500px;
    height: 600px;
    margin: 20px;
    border: 1px solid black;
    image-rendering: pixelated;

}
